
<div class="row">
    <h1 class="m-2">List product</h1>
</div>
<div class="row">
    <div *ngFor="let item of dataProduct; index as index;" class="card col-md-4">
        <img *ngIf="item.image[0] != undefined" class="card-img-top box-image" 
        [src]="item.image[0].url" alt="Card image cap">
        <img *ngIf="item.image[0] == undefined" class="card-img-top box-image" 
        src="/assets/img/123.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
            <div class="form-group">
                <label for="quantity" class="col-form-label">Quantity</label>
                <input type="number" class="form-control" 
                id="quantity" name="quantity" [(ngModel)]="quantity[index]"
                >
            </div>
            <a type="button" [routerLink]="'/product/detail/'+ item.id" class="btn btn-primary mr-2">Detail</a>
            <div type="button" (click)="addToCart(item.id, index)"  class="btn btn-primary">Add to cart</div>
        </div>
    </div>
</div>


