<div id="registerForm" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="margin-left: 25%;">
        <form role="form" (submit)="registerUser($event)" [formGroup] = "registerForm">
          <h2>Please Register</h2>
          <hr class="colorgraph">
          <!-- Username -->
          <div class="row">
      			<div class="col-xs-12 col-sm-12 col-md-12">
      				<div class="form-group">
                <label class="sr-only" for="Username">Username</label>
                <input type="text" class="form-control" id="Username" 
                placeholder="Username" autofocus required formControlName="username"/>
              </div>
              <label style="color: red;"
                  *ngIf="registerForm.hasError('required','username') && 
                  registerForm.controls['username'].touched"
              >
                  Username is required.
                </label>
                <label style="color: red;"
                    *ngIf="registerForm.hasError('required','username') && 
                    !registerForm.controls['username'].touched && checkError" 
                >
                  Username is required.
              </label>
            </div>
          </div>
          <!-- Password -->
          <div class="row">
      			<div class="col-xs-12 col-sm-6 col-md-12">
      				<div class="form-group">
                <label class="sr-only" for="Password">Password</label>
                <input type="password" class="form-control" id="Password" 
                placeholder="Password" required formControlName="password"/>
              </div>
              <label style="color: red;"
                  *ngIf="registerForm.hasError('required','password') && 
                  registerForm.controls['password'].touched"
              >
                  Password is required.
                </label>
                <label style="color: red;"
                    *ngIf="registerForm.hasError('required','password') && 
                    !registerForm.controls['password'].touched && checkError" 
                >
                Password is required.
              </label>
            </div>
          </div>
          <!-- Name -->
          <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-12">
                    <div class="form-group">
                        <label class="sr-only" for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" 
                        placeholder="Name" required formControlName="name"/>
                    </div>
                    <label style="color: red;"
                  *ngIf="registerForm.hasError('required','name') && 
                  registerForm.controls['name'].touched"
                  >
                      Name is required.
                    </label>
                    <label style="color: red;"
                        *ngIf="registerForm.hasError('required','name') && 
                        !registerForm.controls['name'].touched && checkError" 
                    >
                    Name is required.
                  </label>
                </div>
            </div>
        <!--Email  -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                <label class="sr-only" for="Email">Email</label>
                <input type="email" class="form-control" id="Email" 
                placeholder="Email" autofocus required formControlName="email"/>
                </div>
                <label style="color: red;"
                  *ngIf="registerForm.hasError('required','email') && 
                  registerForm.controls['email'].touched"
              >
                  Email is required.
                </label>
                <label style="color: red;"
                    *ngIf="registerForm.hasError('required','email') && 
                    !registerForm.controls['email'].touched && checkError" 
                >
                Email is required.
              </label>
              <!-- <label style="color: red;" 
              *ngIf="registerForm.hasError('email') && !registerForm.hasError('required')">
                Please enter a valid email address <b>Ex: example@gmail.com</b>
              </label> -->
            </div>
           

           
        </div>

        <div class="row">
            <!-- Category  -->
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div class="input-group mb-3">
                  <select class="custom-select" id="inputGroupSelect02" [value]="role" name="role" >
                      <option value="admin">Admin</option>
                      <option value="user">User</option>
                  </select>
                  <div class="input-group-append">
                      <label class="input-group-text" for="inputGroupSelect02">Options</label>
                  </div>
              </div>
            
            </div>
           </div>
        
          <!-- <div *ngIf="loginErrorMessage" class="alert alert-danger">{{ loginErrorMessage }} </div> -->
          <hr class="colorgraph">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <input type="submit" class="btn btn-primary btn-block btn-lg" tabindex="7" value="Register"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
